.categories-container {
  background-color: #f0f0f0;
  padding: 20px;
  margin-bottom: 60px;
  display: flex;
  justify-content: center;
  gap: 115px;
  flex-wrap: wrap;
}

.category-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  text-align: center;
  transition: transform 0.3s ease;
}

.category-item:hover {
  transform: scale(1.05);
}

.category-image {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  overflow: hidden;
  border: 5px solid #ffffff;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.category-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.category-name {
  margin-top: 5px;
  font-size: 18px;
  font-weight: 500;
  color: #333;
}

/* .category-item:hover .category-name {
  background: black;
  color: white;
} */
